:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
    --color-text-primary: var(--nord0);
    --nord3-brightened: #59657d;
}

[data-theme="dark"] {
    --color-text-primary: var(--nord5);
}

/*base.scss*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--nord0);
}

.hljs,
.hljs-subst {
    color: var(--nord4);
}

/*cs.scss*/
.hljs-selector-tag {
    color: var(--nord9);
}

.hljs-selector-id {
    color: var(--nord7);
    font-weight: bold;
}

.hljs-selector-class {
    color: var(--nord7);
}

.hljs-selector-attr {
    color: var(--nord7);
}

.hljs-selector-pseudo {
    color: var(--nord8);
}

/* diff.scss */
.hljs-addition {
    background-color: rgba(163, 190, 140, 0.5);
    /* Adjusted nord.$nord14 */
}

.hljs-deletion {
    background-color: rgba(191, 97, 106, 0.5);
    /* Adjusted nord.$nord11 */
}

/*general.scss*/
.hljs-built_in,
.hljs-type {
    color: var(--nord7);
}

.hljs-class {
    color: var(--nord7);
}

.hljs-title {
    color: var(--nord7);
}

.hljs-function {
    color: var(--nord8);

    >.hljs-title {
        color: var(--nord8);
    }
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
    color: var(--nord9);
}

.hljs-number {
    color: var(--nord15);
}

.hljs-regexp {
    color: var(--nord13);
}

.hljs-string {
    color: var(--nord14);
}

.hljs-params {
    color: var(--nord4);
}


/*markup.scss*/
.hljs-bullet {
    color: var(--nord9);
}

.hljs-code {
    color: var(--nord7);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-formula {
    color: var(--nord7);
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link:hover {
    text-decoration: underline;
}

.hljs-quote {
    color: var(--nord3-brightened);
}

/*meta.scss*/
.hljs-comment {
    color: var(--nord3-brightened);
}

.hljs-doctag {
    color: var(--nord7);
}

.hljs-meta,
.hljs-meta-keyword {
    color: var(--nord10);
}

.hljs-meta-string {
    color: var(--nord14);
}

/*tags_attributes.scss*/
.hljs-attr {
    color: var(--nord7);
}

.hljs-attribute {
    color: var(--nord4);
}

.hljs-builtin-name {
    color: var(--nord9);
}

.hljs-name {
    color: var(--nord9);
}

.hljs-section {
    color: var(--nord8);
}

.hljs-tag {
    color: var(--nord9);
}

.hljs-variable {
    color: var(--nord4);
}

/*templates.scss*/
.hljs-template-variable {
    color: var(--nord4);
}

.hljs-template-tag {
    color: var(--nord10);
}

/*languages*/

/*abnf*/
.abnf .hljs-attribute {
    color: var(--nord8);
}

.abnf .hljs-symbol {
    color: var(--nord13);
}

/*apache*/
.apache .hljs-attribute {
    color: var(--nord8);
}

.apache .hljs-section {
    color: var(--nord9);
}

/*arduino*/
.arduino .hljs-built_in {
    color: var(--nord8);
}

/*aspectj*/
.aspectj .hljs-meta {
    color: var(--nord12);
}

.aspectj>.hljs-title {
    color: var(--nord8);
}

/*bnf*/
.bnf .hljs-attribute {
    color: var(--nord7);
}

/*clojure*/
.clojure .hljs-name {
    color: var(--nord8);
}

.clojure .hljs-symbol {
    color: var(--nord13);
}

/*coq*/
.coq .hljs-built_in {
    color: var(--nord8);
}

/*cpp*/
.cpp .hljs-meta-string {
    color: var(--nord7);
}


/*css*/
.css .hljs-built_in {
    color: var(--nord8);
}

.css .hljs-keyword {
    color: var(--nord12);
}

/*diff*/
.diff .hljs-meta {
    color: var(--nord7);
}

/*enbf*/
.ebnf .hljs-attribute {
    color: var(--nord7);
}

/*glsl*/
.glsl .hljs-built_in {
    color: var(--nord8);
}

/*groovy*/
.groovy .hljs-meta:not(:first-child) {
    color: var(--nord12);
}

/*haxe*/
.haxe .hljs-meta {
    color: var(--nord12);
}

/*java*/
.java .hljs-meta {
    color: var(--nord12);
}

/*ldif*/
.ldif .hljs-attribute {
    color: var(--nord7);
}

/*lisp*/
.lisp .hljs-name {
    color: var(--nord8);
}

/*lua*/
.lua .hljs-built_in {
    color: var(--nord8);
}

/*moonscript*/
.moonscript .hljs-built_in {
    color: var(--nord8);
}

/*nginx*/
.nginx .hljs-attribute {
    color: var(--nord8);
}

.nginx .hljs-section {
    color: var(--nord10);
}

/*pf*/
.pf .hljs-built_in {
    color: var(--nord8);
}

/*processing*/
.processing .hljs-built_in {
    color: var(--nord8);
}

/*scss*/
.scss .hljs-keyword {
    color: var(--nord9);
}

/*stylus*/
.stylus .hljs-keyword {
    color: var(--nord9);
}

/*swift*/
.swift .hljs-meta {
    color: var(--nord12);
}

/*vim*/
.vim .hljs-built_in {
    color: var(--nord8);
    font-style: italic;
}

/*yaml*/
.yaml .hljs-meta {
    color: var(--nord12);
}
